<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="/ltr/assets/images/logo-icon-2.png" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">Fobia</h4>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <!-- Dashboard -->
        <li>
            <a href="index.html">
                <div class="parent-icon">
                    <ion-icon name="home-outline"></ion-icon>
                </div>
                <div class="menu-title">Dashboard</div>
            </a>
        </li>

        <!-- Content Management -->
        <li class="menu-label">İçerik Yönetimi</li>
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <ion-icon name="film-outline"></ion-icon>
                </div>
                <div class="menu-title">Filmler & Diziler</div>
            </a>
            <ul>
                <li>
                    <a href="content-list.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Tüm İçerikler
                    </a>
                </li>
                <li>
                    <a href="content-add.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Yeni Ekle
                    </a>
                </li>
                <li>
                    <a href="content-categories.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Kategoriler
                    </a>
                </li>
                <li>
                    <a href="content-genres.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Türler
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <ion-icon name="film-outline"></ion-icon>
                </div>
                <div class="menu-title">Oyuncular</div>
            </a>
            <ul>
                <li>
                    <a href="content-list.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Tüm Oyuncular
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <ion-icon name="chatbubbles-outline"></ion-icon>
                </div>
                <div class="menu-title">Yorumlar</div>
            </a>
            <ul>
                <li>
                    <a href="comments-all.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Tüm Yorumlar
                    </a>
                </li>
                <li>
                    <a href="comments-pending.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Onay Bekleyenler
                    </a>
                </li>
                <li>
                    <a href="comments-reported.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Şikayet Edilenler
                    </a>
                </li>
            </ul>
        </li>

        <!-- AI Features -->
        <li class="menu-label">AI Özellikleri</li>
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <ion-icon name="sparkles-outline"></ion-icon>
                </div>
                <div class="menu-title">AI Entegrasyonları</div>
            </a>
            <ul>
                <li>
                    <a href="ai-recommendations.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Öneri Sistemi
                    </a>
                </li>
                <li>
                    <a href="ai-sentiment-analysis.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Yorum Analizi
                    </a>
                </li>
                <li>
                    <a href="ai-content-moderation.html">
                        <ion-icon name="ellipse-outline"></ion-icon>İçerik Moderasyonu
                    </a>
                </li>
                <li>
                    <a href="ai-settings.html">
                        <ion-icon name="ellipse-outline"></ion-icon>AI Ayarları
                    </a>
                </li>
            </ul>
        </li>

        <!-- Users -->
        <li class="menu-label">Kullanıcı Yönetimi</li>
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <ion-icon name="people-outline"></ion-icon>
                </div>
                <div class="menu-title">Kullanıcılar</div>
            </a>
            <ul>
                <li>
                    <a href="users-all.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Tüm Kullanıcılar
                    </a>
                </li>
                <li>
                    <a href="users-add.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Yeni Ekle
                    </a>
                </li>
                <li>
                    <a href="users-roles.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Roller & İzinler
                    </a>
                </li>
            </ul>
        </li>

        <!-- Analytics -->
        <li class="menu-label">Raporlar & Analiz</li>
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <ion-icon name="bar-chart-outline"></ion-icon>
                </div>
                <div class="menu-title">İstatistikler</div>
            </a>
            <ul>
                <li>
                    <a href="analytics-overview.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Genel Bakış
                    </a>
                </li>
                <li>
                    <a href="analytics-content.html">
                        <ion-icon name="ellipse-outline"></ion-icon>İçerik Analizi
                    </a>
                </li>
                <li>
                    <a href="analytics-users.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Kullanıcı Analizi
                    </a>
                </li>
            </ul>
        </li>

        <!-- UI Elements -->
        <li class="menu-label">UI Bileşenleri</li>
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <ion-icon name="briefcase-outline"></ion-icon>
                </div>
                <div class="menu-title">Widgets</div>
            </a>
            <ul>
                <li>
                    <a href="widgets-static-widgets.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Statik
                    </a>
                </li>
                <li>
                    <a href="widgets-data-widgets.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Dinamik
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a class="has-arrow" href="javascript:;">
                <div class="parent-icon">
                    <ion-icon name="gift-outline"></ion-icon>
                </div>
                <div class="menu-title">Componentler</div>
            </a>
            <ul>
                <li>
                    <a href="component-alerts.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Alerts
                    </a>
                </li>
                <li>
                    <a href="component-buttons.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Buttons
                    </a>
                </li>
                <li>
                    <a href="component-cards.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Cards
                    </a>
                </li>
                <li>
                    <a href="component-modals.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Modals
                    </a>
                </li>
                <li>
                    <a href="component-navs-tabs.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Navs & Tabs
                    </a>
                </li>
                <li>
                    <a href="component-notifications.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Notifications
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a class="has-arrow" href="javascript:;">
                <div class="parent-icon">
                    <ion-icon name="leaf-outline"></ion-icon>
                </div>
                <div class="menu-title">İkonlar</div>
            </a>
            <ul>
                <li>
                    <a href="icons-line-icons.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Line Icons
                    </a>
                </li>
                <li>
                    <a href="icons-boxicons.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Boxicons
                    </a>
                </li>
                <li>
                    <a href="icons-feather-icons.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Feather Icons
                    </a>
                </li>
            </ul>
        </li>

        <!-- Forms & Tables -->
        <li class="menu-label">Formlar & Tablolar</li>
        <li>
            <a class="has-arrow" href="javascript:;">
                <div class="parent-icon">
                    <ion-icon name="newspaper-outline"></ion-icon>
                </div>
                <div class="menu-title">Formlar</div>
            </a>
            <ul>
                <li>
                    <a href="form-elements.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Form Elemanları
                    </a>
                </li>
                <li>
                    <a href="form-layouts.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Form Düzenleri
                    </a>
                </li>
                <li>
                    <a href="form-validations.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Validasyon
                    </a>
                </li>
                <li>
                    <a href="form-wizard.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Form Wizard
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a class="has-arrow" href="javascript:;">
                <div class="parent-icon">
                    <ion-icon name="server-outline"></ion-icon>
                </div>
                <div class="menu-title">Tablolar</div>
            </a>
            <ul>
                <li>
                    <a href="table-basic-table.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Basit Tablo
                    </a>
                </li>
                <li>
                    <a href="table-datatable.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Data Table
                    </a>
                </li>
            </ul>
        </li>

        <!-- Pages -->
        <li class="menu-label">Sayfalar</li>
        <li>
            <a class="has-arrow" href="javascript:;">
                <div class="parent-icon">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                </div>
                <div class="menu-title">Authentication</div>
            </a>
            <ul>
                <li>
                    <a href="authentication-sign-in.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Giriş
                    </a>
                </li>
                <li>
                    <a href="authentication-sign-up.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Kayıt
                    </a>
                </li>
                <li>
                    <a href="authentication-reset-password.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Şifre Sıfırla
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="pages-user-profile.html">
                <div class="parent-icon">
                    <ion-icon name="person-circle-outline"></ion-icon>
                </div>
                <div class="menu-title">Profil</div>
            </a>
        </li>

        <li>
            <a class="has-arrow" href="javascript:;">
                <div class="parent-icon">
                    <ion-icon name="copy-outline"></ion-icon>
                </div>
                <div class="menu-title">Diğer Sayfalar</div>
            </a>
            <ul>
                <li>
                    <a href="pages-faq.html">
                        <ion-icon name="ellipse-outline"></ion-icon>FAQ
                    </a>
                </li>
                <li>
                    <a href="pages-pricing-tables.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Fiyatlandırma
                    </a>
                </li>
                <li>
                    <a href="pages-errors-404-error.html">
                        <ion-icon name="ellipse-outline"></ion-icon>404 Hata
                    </a>
                </li>
            </ul>
        </li>

        <!-- Charts & Maps -->
        <li class="menu-label">Grafikler & Haritalar</li>
        <li>
            <a class="has-arrow" href="javascript:;">
                <div class="parent-icon">
                    <ion-icon name="bar-chart-outline"></ion-icon>
                </div>
                <div class="menu-title">Grafikler</div>
            </a>
            <ul>
                <li>
                    <a href="charts-apex-chart.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Apex Charts
                    </a>
                </li>
                <li>
                    <a href="charts-chartjs.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Chart.js
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a class="has-arrow" href="javascript:;">
                <div class="parent-icon">
                    <ion-icon name="map-outline"></ion-icon>
                </div>
                <div class="menu-title">Haritalar</div>
            </a>
            <ul>
                <li>
                    <a href="map-google-maps.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Google Maps
                    </a>
                </li>
                <li>
                    <a href="map-vector-maps.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Vector Maps
                    </a>
                </li>
            </ul>
        </li>

        <!-- Settings & Support -->
        <li class="menu-label">Ayarlar</li>
        <li>
            <a href="settings-general.html">
                <div class="parent-icon">
                    <ion-icon name="settings-outline"></ion-icon>
                </div>
                <div class="menu-title">Genel Ayarlar</div>
            </a>
        </li>

        <li>
            <a href="documentation.html">
                <div class="parent-icon">
                    <ion-icon name="document-text-outline"></ion-icon>
                </div>
                <div class="menu-title">Dokümantasyon</div>
            </a>
        </li>

        <li>
            <a href="support.html">
                <div class="parent-icon">
                    <ion-icon name="help-circle-outline"></ion-icon>
                </div>
                <div class="menu-title">Destek</div>
            </a>
        </li>
    </ul>
    <!--end navigation-->
</aside>